.acf-flexible-content {

  .layout {

    .acf-fc-layout-actions-wrap {
      border-bottom: 0px solid transparent;
    }

    &.-highlight-closed {
      animation: highlightClosed .65s .1s ease-out;
    }

    &.layout-error-messages > .acf-fc-layout-handle .acf-fc-layout-order {
      background: #F55E4F;
      color: #fff;
    }

    &.fc-modal > .acf-fc-layout-handle {
      border: none !important;
    }

    &.-modal {
      position: fixed !important;
      top: 50px !important;
      right: 0 !important;
      left: 0 !important;
      width: 90vw;
      max-width: 960px;
      max-height: calc(100vh - 100px);
      box-shadow: 0 5px 15px rgba(0, 0, 0, .7);
      margin: auto;
      z-index: 10001;

      &.-animate {
        animation: fcModalSlide .2s ease-out;
      }

      & > .acf-fc-modal-title {
        display: flex;
        align-items: center;
        column-gap: 10px;
      }

      & > .acf-fc-modal-content {
        display: block;
        max-height: calc(100vh - 150px);
        overflow: auto;
      }

      & .acf-fc-layout-controls [data-name="duplicate-layout"],
      & .acf-fc-layout-controls [data-name="add-layout"],
      & .acf-fc-layout-controls [data-name="more-layout-actions"],
      & .acf-fc-layout-controls [data-name="collapse-layout"],
      & .acf-fc-layout-controls [data-event="delete-layout"],
      & .acf-fc-layout-controls [data-event="edit-layout"],
      .acf-fc-layout-actions-wrap {
      // & .acf-fc-layout-handle {
        display: none;
      }
    }

    .acf-fc-modal-title {
      display: none;
      position: relative;
      box-sizing: border-box;
      right: 0;
      height: 45px;
      // height: 0;
      color: #fff;
      font-weight: 500;
      background: #2271b1;
      line-height: 45px;
      padding: 0 40px 0 10px;
      border-bottom: 1px solid #dfdfdf;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      & > .-cancel {
        cursor: pointer;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 45px;
        height: 45px;
        color: #fff;
        line-height: 45px;
        text-align: center;
        z-index: 10002;

        &:hover,
        &:focus {
          color: #F55E4F;
        }
      }

      & > .acf-fc-layout-order {
        display: flex;
        justify-content: center;
        width: 32px;
        height: 20px;
        border: 1px solid #e0e0e0;
        border-radius: 10px;
        box-sizing: border-box;
        line-height: 18px;
      }
    }

    .acf-fc-modal-content {
      display: none;

      .acf-table {
        border: 0 none;
        box-shadow: none;

        thead {

          tr {

            th {
              background: #F9F9F9;
            }
          }
        }

        tbody {

          tr {
            background: #fff;
          }
        }
      }
    }

    &:hover,
    &.-hover,
    &:focus,
    &.-focus {

      .acf-fc-layout-controls {

        .acf-icon.-plus,
        .acf-icon.-minus {
          visibility: hidden;
        }
      }
    }
  }

  & > .values {

    & > .layout {

      &:hover,
      &.-hover,
      &:focus,
      &.-focus {

        .acf-fc-layout-controls {

          .acf-icon.-plus,
          .acf-icon.-minus {
            visibility: visible;
          }
        }
      }
    }
  }
}

.acf-repeater .acf-row.-collapsed .acf-fc-modal-content > .acf-fields {

  & > * {
    display: none !important;
  }

  & > .acf-field.-collapsed-target {
    display: block !important;
  }
}

.acf-tooltip,
.acf-fc-popup {
  z-index: 10002 !important;
}

.acf-btn.acf-btn-clear {
  display: none;
}

.acf-fc-popup {
  li {
    height: 100%;
  }
}

.acf-flexible-content>.acf-actions.acf-fc-top-actions .acf-separator {
  display: none;
}

.acf-more-layout-actions {
  ul {
    width: 212px;
    height: auto;
    grid-template-columns: 1fr;

    li {
      height: auto;

      a {
        box-shadow: none !important;
        padding: 10px !important;
      }
    }
  }
}

.acf-fields.-top > .acf-field-flexible-content > .acf-input > .acf-flexible-content > .values > .layout {

  & > .acf-fc-layout-handle {
    border-bottom-width: 0;
  }

  & > .acf-fields,
  & > .acf-table {
    display: none;
  }
}

body.acf-modal-open {
  overflow: hidden;
}

#acf-flexible-content-modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(#000, .8);
  z-index: 10000;
}

.acf-icon.-pencil::before {
  font-size: 20px;
  padding: 5px;
}

@keyframes fcModalSlide {

  from {
    transform: translateY(-30px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes highlightClosed {
  0% {
    background: #fff;
  }

  30% {
    background: rgba(0, 133, 186, .3);
  }

  100% {
    background: #fff;
  }
}
